<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="5" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card one">
        <mat-card-header>
          <mat-card-title>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> -->
            <mat-menu #menu="matMenu" xPosition="before"> </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>No of batches </div>
        </mat-card-content>
      </mat-card>  
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let card of cards2 | async" [colspan]="card.cols" [rowspan]="card.rows">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> -->
          <mat-menu #menu="matMenu" xPosition="before"> </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>No of test </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card two">
        <mat-card-header>
          <mat-card-title>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> -->
            <mat-menu #menu="matMenu" xPosition="before"> </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>No of Question Paper </div>
        </mat-card-content>
      </mat-card>  
    </mat-grid-tile>  
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card three">
        <mat-card-header>
          <mat-card-title>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> -->
            <mat-menu #menu="matMenu" xPosition="before"> </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>No of Students Registered </div>
        </mat-card-content>
      </mat-card>  
    </mat-grid-tile>
  </mat-grid-list>
</div>