<div style="text-align:left;width:500px;">
  <h1>
      {{ title }}
  </h1>
  <button mat-flat-button class="mat-flat-button mat-primary" (click)="getJava()">Java</button>
  <button mat-flat-button class="mat-flat-button mat-primary" (click)="getDotNet()">Dot Neet</button>
  <button mat-flat-button class="mat-flat-button mat-primary" (click)="getAngular()">Angular 2+</button>
  <button mat-flat-button class="mat-flat-button mat-primary" (click)="getcPlus()">c++</button>
  

      <mat-selection-list >
            <mat-list-option *ngFor="let data of selectedQuestions">
                    {{data.question}}
            </mat-list-option>
          </mat-selection-list>
  
</div>